@media screen and (max-width: 800px) {
    
    .first-section-box
    .main-menu
    .main-header {
        width:100%;
    }
    
    .first-section-part h2 {
        font-size: 20px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .first-section-part p {
        font-size: 15px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .one-button button {
        font-size: 15px;
        padding: 5px 5px;
        background: gainsboro;
        margin-left: 10px;
    }
    
    section.first-section {
        background: url('images/jane.jpg') no-repeat;
        width: 100%;
        height: 200px;
        padding: 55px 0px;
        background-size: cover;
        background-position: center;
    }

    .first-section-part {
        margin-left: 0;
        width: 100%;
        display: block;
    }

    .first-section-box-margin-minus-2 {
        display: block;
        margin-left: 0;
    }

    .second-section-box {
        width: 100%;
        display: block;
    }

    .second-section-matter-1 {
        width: 100%;
    }

    .second-section-matter-2 {
        width: 100%;
    }

    .two-buttons button:last-child {
        /* background: gray; */
        color: white;
        margin-left: 50px;
    }

    .subscribe {
        padding: 12px 94px;
        font-size: 25px;
        text-align: center;
        background: red;
        color:white;
        margin-top: 10px;
        margin-left: 8px;
        margin-bottom: 20px;
    }

    .second-section-part-2-2-1 {
        width: 100%;
        height: 400px;
        background: gray;
        margin-top: -10px;
    }
    
    .second-section-part-2-2-2 h2 {
        text-align: center;
        background: white;
        color: black;
        padding: 150px 0px;
    }

    .second-section-part-2-2-2 {
        width: 94%;
        height: 380px;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
    }

    .second-section-part-2-4-1 {
        width: 100%;
        height: 100px;
        background: black;
    }

    .second-section-part-2-4-1-1-1 ul li {
        display: flex;
        float: left;
        background: gray;
        padding: 6% 6.5545%;
        justify-content: space-evenly;
    }


}
